:root {
   --background-color: hsla(0, 0%, 13%, .81);
   --background-light-color: hsla(0, 0%, 21%, .81);
   --foreground-color:  hsl(0, 0%, 91%);
   --orange-color: hsl(13, 100% , 50%);
   --poisongreen-color: hsl(91,100%,50%);
   --purple-color: hsl(269, 100%, 50%);  
}